@model NorwegianWhiteJaguar.Model.ViewModel.TransactionViewModel

@{
    if (Model.Transactions != null)
    {
        <h1>Account Transactions</h1>
        <table class="table table-sm table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Currency</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transactions in @Model.Transactions)
                {
                    <tr>
                        <th scope="row" width="10%">@transactions.Id</th>
                        <td width="25%">@transactions.Amount</td>
                        <td width="25%">Euro</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <h1>There is no transaction!</h1>
    }
}